---
# scss
---


// 
// +----------------------------------------------------+  --
// |                                                    |
// |                     Site Header                    |   body > header
// |                                                    |
// +---------------+------------------------------------+  --
// |               |                                    |
// |    Margin     |            Page Header             |   main article header
// |               |                                    |
// |               +------------------------------------+
// |               |                                    |
// |               |                                    |
// |               |                                    |
// |               |                                    |
// |               |                                    |
// |               |                                    |
// |               |                                    |
// |               |                                    |
// |               |                                    |
// |               |                                    |
// |               |                                    |   main article
// |               |                Page                |
// |               |               Content              |
// |               |                                    |
//
// ~               ~                                    ~
//
// |               |                                    |
// |               |                                    |
// |               |                                    |
// | $margin_width |           $content_width           |
// |               |                                    |
// |               |                                    |
// |               |                                    |
// |               |                                    |
// |               |                                    |
// |               +------------------------------------+
// |               |                                    |
// |               |             Page Footer            |   main article footer
// |               |                                    |
// +---------------+------------------------------------+  --
// |                                                    |
// |                     Site Footer                    |   body > footer
// |                                                    |
// +----------------------------------------------------+  --
// 


@import "_mixins";


/*
   Configuration
 */
$base_hue: 180;  // isabelline hsl = 30/25/95
$content_width: 40rem;
$margin_width: 13rem;

$logo: '\3246';
$logo: '{{ site.logo }}';

// # logo: \3245 # kindergarden
// # logo: \3246 # school
// # logo: \2105 # care of
// # logo: \2140 # sum
// # logo: \2A33 # smash product
// # logo: &amp;
/*
   Derivative colors
 */

$body_color: hsl($base_hue,90,10);
$body_background_color: hsl($base_hue,25,95);


/*
   Colors & Tweaks
 */
::selection {
	color: hsl($base_hue,100,95);
	background-color: hsl($base_hue,100,30);
}


body {
	color: $body_color;
	background-color: $body_background_color;
	font-family: bitter, georgia, serif;
	font-size: 1.2rem;

	> header {
		background-color: hsl($base_hue,90,20);
		@include horizontal-gradient(
			hsl($base_hue,90,20),
			hsl($base_hue,90,25),
			60%);


		border-bottom: 1px solid hsl($base_hue,40,40);
		&, a, a:visited, a:active, a:hover {
			text-decoration: none;
			// color: hsl($base_hue,80,90);
			color: hsl($base_hue,90,100);
			// font-weight: bold;
		}
	}

	p { line-height: 2rem; }

	section, article {
		header, footer {
			h1 {
				text-transform: uppercase;
				font-size: 3rem;
				// text-shadow: 1px 1px hsl($base_hue,10,10);
			}

			&, a:hover, a:active, a:visited {
				color: hsl($base_hue,90,20);
			}

			time {
				font-style: italic;
				font-size: .8em;
			}
		}
	}
}


section.index {
	h1 {
		color: hsl($base_hue,10,80);
		font-size: 1em;
		font-weight: normal;
		text-align: right;
		clear: both;
	}

	li {
		padding: 5px 0 .3em 0;
		list-style-type: none;
	}
}

a {
	color: hsl($base_hue,30,30);
	&:hover, &:active { color: hsl($base_hue,40,40) }
	&:visited { color: hsl($base_hue,30,20) }
}

blockquote {
	font-size: 1.2em;
	font-style: italic;
	color: hsl($base_hue,30,50);

	&:before {
		color: hsl($base_hue,50,80);
		position: absolute;
		content: "\ab";  // left double angle quote
		margin-left: -3rem;
		margin-top: -2rem;
		font-style: normal;
		font-size: 5rem;
	}
}

aside {
	font-size: 1rem;
	text-align: right;
	padding: .3rem;
	color: hsl($base_hue,20,40);
	border-right: 1px solid hsl($base_hue,25,80);
	background-color: hsl($base_hue,10,90);
	@include horizontal-gradient(
		hsl($base_hue,25,95),
		hsl($base_hue,25,90),
		60%);
}


div.highlight {
	// background-color: hsl($base_hue,20,50);
	overflow-x: auto;
	@include border-radius(.3rem);

	table {
		width: 100%;
	}

	td.gutter {
		background-color: hsl($base_hue,10,80);
		border-right: 1px solid hsl($base_hue,10,70);
		margin: 0;
		width: 1%;
		pre {
			padding: .5em;
			user-select: none;
			-moz-user-select: none;
			-khtml-user-select: none;
			-webkit-user-select: none;
			-o-user-select: none;
		}
	}

	pre.lineno {
		color: hsl($base_hue,10,50);
		word-wrap: normal;
	}

	.code {
		background-color: hsl($base_hue,10,90);
		padding-left: .5em;
		pre {
			tab-size: 2;
			-moz-tab-size: 2;
			-o-tab-size: 2;
		}
	}

	pre {
		margin: 0;
	}
}

table {
	background-color: hsl($base_hue,25,95);
	border-collapse: collapse;
	width: 100%;
	th, td {
		border: 1px solid hsl($base_hue,25,50);
		padding: .5rem;
		vertical-align: top;
		font-family: sans-serif;
	}
}

/*
  Page Geometry
 */
body {
	margin: 0;
	padding: 0;

	> footer {
		nav, a {
			font-size: 1rem;
			&, a, a:visited, a:active, a:hover {
				color: hsl($base_hue,10,50);
			}
		}
	}

	> header, > footer {
		padding: 1rem 0;
		nav {
			margin: 0 $margin_width;
			width: $content_width;
		}
	}

	> header, > footer {

		nav {

			h1::before {
				content: $logo;
				margin-left: -4rem;
				position: absolute;
				font-size: 3.5rem;
				color: hsl($base_hue,90,90);
			}

			h1, h2 { margin: 0; padding: 0; white-space: nowrap; }

			hgroup {
				cursor: pointer;
				display: table-cell;
				vertical-align: middle;
				white-space: nowrap;
			}

			h1 { font-size: 2rem; }
			h2 { font-size: 1.5rem; font-weight: normal; }

			ul {
				float: right;
				padding: 0;
				white-space: nowrap;
				font-size: 0;  // collapse white space
				li {
					font-size: 1rem;
					text-transform: uppercase;
					line-height: 4rem;
					list-style-type: none;
					display: inline;
					margin-left: .5rem;
					padding-left: .5rem;
					border-left: 1px solid hsl($base_hue,10,50);
					&:first-child {
						margin-left: 0;
						padding-left: 0;
						border-left: none;
					}
					// a { text-decoration: underline; font-weight: normal; }
				}
			}

		}
	}

	section, article {
		header, footer {
			h1 {
				margin: 3rem 0 1rem;
			}
		}

		p {
			-ms-hyphens: auto;
			-webkit-hyphens: auto;
			-moz-hyphens: auto;
			hyphens: auto
		}
	}

}

section.index {
	padding-top: 3rem;
	h1 {
		float: left;
		width: 5em;
		margin: 0 0 0 -6em;
		padding: 5px 0 0 0;
		font-size: 1em;
		font-weight: normal;
	}
}

article, section {
	width: $content_width;
	margin: 0 auto 0 $margin_width;
	vertical-align: middle;
}

aside {
	width: $margin_width*.8;
	float: left;
	margin-left: -$margin_width*.9;
}



/*
 *  Responsiveness
 */
@media print {
	body > header { display: none; }
	body { font-size: 1rem; }
}

// @media screen and (min-width: $content_width+$margin_width) {
// 	aside {
// 		float: none !important;
// 		text-align: left !important;
// 		margin: 0 !important;
// 	}
// }

@media screen and (max-width: $content_width+$margin_width*.9) {
	aside {
		float: none !important;
		text-align: left !important;
		margin: 0 !important;
	}
}

@media screen and (max-width: $content_width+$margin_width*.9) {
	article, section {
		margin-left: $margin_width/2 !important;
		// animation-name: contract-to-half-margin;
		// animation-duration: .5s;
	}

	body > header nav {
		margin-left: $margin_width/2 !important;
		// animation-name: contract-to-half-margin;
		// animation-duration: .5s;
	}
}

@media screen and (max-width: $content_width+$margin_width/2.2) {
	article {
		margin-left: 1rem !important;
	}

	body > header nav {
		margin-left: 1rem !important;
		ul {
			float: none;
			margin: 0;
			padding-bottom: .5rem;
			li { line-height: 1rem; }
		}
	}
	body > header nav h1::before {
		display: none;
	}
}

@media screen and (max-width: $content_width) {
	main {
		article, section {
			header {
				h1 { text-transform: none; font-size: 2rem; }
			}
			h2 { font-size: 1.5rem; }
			h3 { font-size: 1.2rem; }
			width: 90%;
		}
	}
}
