---
layout: base
title: Home
---

{% assign post_count = 0 %}
{% assign show_archive = 0 %}

{% for post in site.posts %}
	{%if post.tags contains "index" %}
		{% assign post_count = post_count + 1 %}

		{% if post_count < 5 %}
			<article>
				{% include post_header.html post=post %}
				{% include post_content.html post=post %}
			</article>
		{% else %}
			{% assign show_archive = show_archive + 1 %}
		{% endif %}
	{% endif %}
{% endfor %}

{%if show_archive > 0 %}
	<a href="/archive/">Archive</a>
{% endif %}