
<footer>
   <nav>
      <p>
         <span class="copy">&copy;</span> {{ 'now' | date: '%Y' }} {{ site.copyright_owner.full_name }}. 
         <a href="/legal/">MIT License</a>. 
         <a class="edit" href="{{ site.edit_url | append: page.path }}">Edit</a>.
      </p>
   </nav>
   <nav>
      <p class="mode"></p>
      <p>{{ page.id }}</p>
   </nav>
   <!-- <style>
      @import url('https://fonts.googleapis.com/css?family=Bree+Serif');
   </style> -->
</footer>

<div id="snackbar">Loading...</div>
<!-- <script src='/assets/js/slides.js'></script> -->
<script src='/assets/js/clipboard.js'></script>