// config

//   0° red
//  60° yellow
// 120° green
// 180° cyan
// 240° blue

// Isabelline
// https://html-color.codes/hex/f4f0ec
// hsl(30, 26.67%, 94.12%)

// base hue
$hue: 30;

// TODO
$drop-caps: false;

// layout
$mobile-breakpoint-max-width: 500px;
$tablet-breakpoint-max-width: 800px;
$desktop-breakpoint-min-width: 801px;

// color theming
$link-color: hsl($hue,50,30);
$link-active-color: lighten($link-color,10%);
$link-hover-color: lighten($link-color,10%);
$link-visited-color: darken($link-color,10%);

$selection-color: hsl($hue,75,90);
$selection-background-color: hsl($hue,100,30);

$body-color: black;
$body-background-color: hsl($hue,3,96); // hsl($hue,25,95);

// see the bottom of _layouts/base.html
// @import url('https://fonts.googleapis.com/css?family=Bree+Serif');

$sans-serif: Helvetica, Arial, sans-serif;
$serif: xGeorgia, Times, serif;

$header-serif: "Bree Serif",$serif;
$body-serif: "Bree Serif",$serif;
$header-color: darken($body-background-color,80%);
$header-link-color: darken($body-background-color,70%);

$main-link-color: darken($body-background-color,80%);
$main-heading-color: hsl($hue,50,30);
$main-aside-color: hsl($hue,70,30);
$main-blockquote-color: hsl($hue,70,30);
$main-blockquote-before-color: hsl($hue,50,80);
$main-index-color: hsl($hue,20,50);
$main-dropcaps-color: hsl($hue,90,50);
$main-dropcaps-font-size: 3em;

$footer-color: hsl($hue,10,50);
$footer-link-color: lighten($footer-color,10%);
$footer-serif: $serif;


// 
$local-google-fonts: true;  // TODO

/* latin-ext */
@font-face {
  font-family: 'Bree Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Bree Serif Regular'), local('BreeSerif-Regular'), url(../fonts/BreeSerif-Regular-Pw.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Bree Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Bree Serif Regular'), local('BreeSerif-Regular'), url(../fonts/BreeSerif-Regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}