@function complement($color,$offset: 180) {
  @return ($color+$offset)%360
}

@mixin border-radius($radius: 0.5em) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
